/* О нас */

.about-container {
  padding: clamp(64px, 6vw, 96px) clamp(24px, 3vw, 48px) clamp(48px, 4vw, 64px)
    clamp(24px, 3vw, 48px);
}
.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(16px, 2vw, 24px);
  padding: 0 clamp(0px, 6vw, 114px);
}
.about-text p {
  font-family: "Montserrat";
  color: var(--gold150);
  font-size: 20px;
  font-weight: 400;
  padding: 0 16px;
  margin-bottom: 24px;
  line-height: normal;
}
.about-text p:last-child {
  margin-bottom: 0px;
}
.about-image {
  position: relative;
  width: 546px;
  height: 550px;
}
.about-image img:nth-child(1) {
  position: absolute;
  width: 340px;
  max-height: 480px;
  top: 0;
  left: 0;
}
.about-image img:nth-child(2) {
  position: absolute;
  width: 320px;
  max-height: 280px;
  bottom: 0;
  right: 0;
}

#about,
#about-en {
  position: relative;
  padding-top: 100px;
  margin-top: -100px;
  pointer-events: none;
}

@media (max-width: 1024px) {
  #about,
  #about-en {
    position: relative;
    padding-top: 72px;
    margin-top: -72px;
    pointer-events: none;
  }
  .about-container {
    padding: 64px 24px 48px;
  }
  .about-content {
    padding: 0;
  }
  .about-image {
    max-width: 478px;
  }
  .about-text p {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .about-container {
    padding: 32px 16px 24px 16px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .about-text p {
    margin-bottom: 16px;
    font-size: 15px;
  }

  .about-image {
    position: relative;
    display: flex;
    width: auto;
    max-width: 924px;
    height: auto;
    gap: 20px;
    align-items: flex-end;
    overflow: hidden;
  }

  .about-image img:nth-child(1),
  .about-image img:nth-child(2) {
    position: static;
    object-fit: cover;
  }

  .about-image img:nth-child(1) {
    width: calc(50% - 8px);
    height: 480px;
  }

  .about-image img:nth-child(2) {
    width: calc(50% - 8px);
    height: 280px;
  }
}

@media (max-width: 479px) {
  .about-image {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    align-items: flex-end;
    overflow: hidden;
  }

  .about-image img:nth-child(1),
  .about-image img:nth-child(2) {
    position: static;
  }

  .about-image img:nth-child(1) {
    width: calc(50% - 8px);
    height: 228px;
  }

  .about-image img:nth-child(2) {
    width: calc(50% - 8px);
    height: 148px;
  }
}
