/* Услуги */

.services-container {
  padding: 96px 48px 64px 48px;
}

.services-content {
  padding: 0 clamp(0px, 6vw, 114px);
}

.services-subtitle {
  color: var(--gold150);
  font-size: 40px;
  width: 488px;
  height: 100px;
  font-family: "Cormorant Infant";
}

.services-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 32px;
  gap: 24px;
}

.services-text {
  max-width: 514px;
  flex: 1;
  padding: 0 16px;
}

.services-text-pl0 {
  padding-left: 0;
}

.services-text p {
  color: var(--gold150);
  font-size: 20px;
  padding-bottom: 24px;
  font-family: "Montserrat";
}

/* --------------------------------------------- */
/*      Первый блок услуг (services-images)      */
/* --------------------------------------------- */

.services-images {
  position: relative;
  width: 546px;
  height: 544px;
}

.services-images img {
  position: absolute; /* для десктопа */
  object-fit: cover;
  display: block;
}

/* Главное фото (справа вверху) */
.services-images img:nth-child(1) {
  width: 363px;
  height: 442px;
  top: 0;
  right: 0;
}

.price-label {
  position: absolute;
  right: 10px;
  top: 455px;
  font-size: 32px;
  color: var(--gold150);
  font-family: "Miama Nueva";
}

.price-label-en {
  position: absolute;
  right: 10px;
  top: 455px;
  font-size: 24px;
  color: var(--gold150);
  font-family: "Miama Nueva";
}

/* Второе фото (слева, в середине) */
.services-images img:nth-child(2) {
  width: 200px;
  height: 260px;
  top: 100px;
  left: 50px;
  z-index: 1;
}

/* Третье фото (снизу слева) */
.services-images img:nth-child(3) {
  width: 280px;
  height: 220px;
  bottom: 0;
  left: 0;
}

.price-label-mob {
  display: none;
}

/* --------------------------------------------- */
/*     Второй блок услуг (services-two-images)   */
/* --------------------------------------------- */

.services-two-images {
  position: relative;
  width: 546px;
  height: 544px;
}

.services-two-images img {
  position: absolute; /* для десктопа */
  object-fit: cover;
  display: block;
}

.services-two-images img:nth-child(1) {
  width: 320px;
  height: 240px;
  top: 0;
  right: 0;
}

.services-two-images img:nth-child(2) {
  width: 360px;
  height: 400px;
  top: 100px;
  z-index: 1;
}

.services-two-images img:nth-child(3) {
  width: 140px;
  height: 220px;
  bottom: 0;
  left: 290px;
  z-index: 2;
}

.price-two-label {
  position: absolute;
  right: 8px;
  top: 255px;
  font-size: 32px;
  color: var(--gold150);
  font-family: "Miama Nueva";
}

.price-two-label-en {
  position: absolute;
  right: 8px;
  top: 255px;
  font-size: 24px;
  color: var(--gold150);
  font-family: "Miama Nueva";
}

/* --------------------------------------------- */
/*    Третий блок услуг (services-three-images)  */
/* --------------------------------------------- */

.services-three-images {
  position: relative;
  width: 546px;
  height: 544px;
  flex: 1;
}

.services-three-images img {
  position: absolute; /* для десктопа */
  object-fit: cover;
  display: block;
}

/* Первое фото (сверху слева) */
.services-three-images img:nth-child(1) {
  width: 300px;
  height: 400px;
  top: 0;
}

/* Второе фото (справа, выше) */
.services-three-images img:nth-child(2) {
  width: 360px;
  height: 360px;
  top: 100px;
  right: 0;
  z-index: 1;
}

/* Третье фото (снизу слева) */
.services-three-images img:nth-child(3) {
  width: 180px;
  height: 220px;
  bottom: 0;
  left: 100px;
  z-index: 2;
}

.price-three-label {
  position: absolute;
  right: 5px;
  top: 43px;
  font-size: 32px;
  color: var(--gold150);
  font-family: "Miama Nueva";
}

.price-three-label-en {
  position: absolute;
  right: 5px;
  top: 50px;
  font-size: 24px;
  color: var(--gold150);
  font-family: "Miama Nueva";
}

#services,
#services-us {
  position: relative;
  padding-top: 100px;
  margin-top: -100px;
}

/* -------------------- */
/*   Media Queries      */
/* -------------------- */

/* Планшеты <=1024px */
@media (max-width: 1024px) {
  #services,
  #services-us {
    position: relative;
    padding-top: 72px;
    margin-top: -72px;
  }

  .services-container {
    padding: 64px 24px 48px 24px;
  }

  .services-content {
    padding: 0;
  }

  .services-text {
    padding: 0;
  }

  .services-images,
  .services-two-images,
  .services-three-images {
    width: 476px;
    height: 562px;
  }

  .services-container h1 {
    padding-bottom: 40px;
  }

  /* Первый блок */
  .services-images img:nth-child(1) {
    width: 360px;
    height: 440px;
  }
  .services-images img:nth-child(2) {
    top: 120px;
    left: 65px;
  }

  /* Второй блок */
  .services-two-images img:nth-child(2) {
    width: 290px;
    height: 348px;
    top: 100px;
  }
  .services-two-images img:nth-child(3) {
    left: 220px;
  }

  /* Третий блок */
  .services-three-images img:nth-child(1) {
    width: 260px;
    height: 350px;
  }
  .services-three-images img:nth-child(2) {
    width: 240px;
    height: 300px;
    top: 140px;
  }

  .price-three-label {
    top: 95px;
  }
  .price-three-label-en {
    top: 95px;
  }
}

/* Мобильные <=938px */
@media (max-width: 938px) {
  #services,
  #services-us {
    position: relative;
    padding-top: 72px;
    margin-top: -72px;
  }

  .services-container {
    padding: 32px 16px 24px 16px;
  }

  .services-content {
    padding: 0;
  }

  .services-text {
    order: 2;
    max-width: 100%;
  }
  .services-text .text-item1 {
    font-size: 15px;
    padding-bottom: 16px;
  }
  .services-text .text-item2 {
    font-size: 15px;
    padding-bottom: 20px;
  }

  .services-subtitle {
    font-size: 24px;
    width: 100%;
    height: auto;
  }

  .services-section {
    flex-direction: column;
    grid-template-columns: 1fr;
    padding-top: 24px;
    gap: 0;
  }

  /* Прячем большие ценники */
  .price-label,
  .price-two-label,
  .price-three-label,
  .price-label-en,
  .price-two-label-en,
  .price-three-label-en {
    display: none;
  }

  .price-label-mob {
    display: flex;
    justify-content: right;
    font-size: 16px;
    color: var(--gold150);
    font-family: "Miama Nueva";
    order: 2;
    height: 35px;
    align-items: center;
    margin-bottom: 20px;
  }

  /* Горизонтальный скролл + переопределение размеров и позиции для всех изображений */
  .services-images,
  .services-two-images,
  .services-three-images {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    gap: 16px;
    overflow-x: auto;
  }
  .services-images::-webkit-scrollbar,
  .services-two-images::-webkit-scrollbar,
  .services-three-images::-webkit-scrollbar {
    display: none;
  }

  .services-images img,
  .services-two-images img,
  .services-three-images img {
    position: static !important;
    width: 330px !important;
    height: 300px !important;
    top: auto !important;
    left: auto !important;
    flex-shrink: 0;
    object-fit: cover;
    display: block;
  }

  /* Меняем порядок, если нужно */
  .services-images img:nth-child(1) {
    order: 1;
  }
  .services-images img:nth-child(2) {
    order: 3;
  }
  .services-images img:nth-child(3) {
    order: 2;
  }

  .services-two-images img:nth-child(1) {
    order: 1;
  }
  .services-two-images img:nth-child(2) {
    order: 3;
  }
  .services-two-images img:nth-child(3) {
    order: 2;
  }

  .services-three-images img:nth-child(1) {
    order: 2;
  }
  .services-three-images img:nth-child(2) {
    order: 1;
  }
  .services-three-images img:nth-child(3) {
    order: 3;
  }
}