<link rel="stylesheet" href="../../css/footer.css">

<div class="_container-footer">
  <div class="footer-container">
    <footer>
      <div class="footer-content">
        <div class="content-text-footer">
          <b><p>Contact us:</p></b>
        </div>
        <div class="content-contacts">
          <p><a href="tel:995568766356">+995 568 766 356</a></p>
          <p>
            <a href="mailto:info@alphawedding.org">info@alphawedding.org</a>
          </p>
        </div>
        <div class="social-links">
          <a
            href="https://www.instagram.com/alpha_wed?igsh=MWU1b2ZtemZlbmp1Mw=="
            target="_blank"
            class="social-icon"
          >
            <img src="/assets/icons/footer/Instagram.svg" alt="Instagram" />
          </a>
          <a
            href="https://www.facebook.com/share/FArRD8xUawuvxK5G/?mibextid=LQQJ4d"
            target="_blank"
            class="social-icon"
          >
            <img src="/assets/icons/footer/Facebook.svg" alt="Facebook" />
          </a>
          <a href="https://t.me/alpha_wed" target="_blank" class="social-icon">
            <img
              src="/assets/icons/footer/ic_baseline-telegram.svg"
              alt="telegram"
            />
          </a>
          <a
            href="https://wa.me/995568766356"
            target="_blank"
            class="social-icon"
          >
            <img
              src="/assets/icons/footer/whatsapp-svgrepo-com 1.svg"
              alt="whatsapp"
            />
          </a>
        </div>
      </div>
      <hr class="separator-footer" />
      <div class="footer-bottom">
        <a href="#">
          <img src="/assets/icons/footer/Vector.svg" alt="Vector icon"
        /></a>
        <p>© 2024 Copyright</p>
      </div>
    </footer>
  </div>
</div>
