<link rel="stylesheet" href="../../css/venues.css">

<div id="venues-en" class="_container">
  <div class="venues-container">
    <div class="header-desktop">
      <h2>
        Ceremony locations
      </h2>
    </div>
    <div class="header-mob">
      <h2>Ceremony locations</h2>
    </div>

    <div class="venues-content">
      <h3 class="venues-header-mob">
        Wedding Palace <br />
        "Konka"
      </h3>
      <div class="venues-images">
        <img src="/assets/images/venues/venues-image2.png" alt="Конка" />
        <img src="/assets/images/venues/venues-image1.png" alt="Конка" />
        <img src="/assets/images/venues/venues-image3.png" alt="Конка" />
        <span class="venues-label">Tbilisi</span>
      </div>
      <span class="venues-label-mob">Tbilisi</span>
      <div class="venues-text item1">
        <h3>Wedding Palace "Konka"</h3>
        <div class="venues-description">
          <p>
            — this is a picturesque place located in the heart of Tbilisi, where
            modern wedding traditions meet the charm of ancient Georgian
            architecture. The building itself, designed in the style
            of a classic Georgian building, creates the perfect atmosphere
            for the special day.
          </p>
        </div>
        <div class="cost">
          <p>Weekend from $90</p>
          <p>Weekday from $60</p>
        </div>
        <a href="#contacts-en"
          ><button class="consultation-button">Order a consultation</button></a
        >
      </div>
    </div>

    <hr class="line" />

    <div class="venues-content">
      <h3 class="venues-header-mob">
        Wedding Palace <br />
        in the House of Justice
      </h3>
      <div class="venues-images-item2">
        <img src="/assets/images/venues/venues-image5.png" alt="Дом Юстиции" />
        <img src="/assets/images/venues/venues-image4.png" alt="Дом Юстиции" />
        <span class="venues-label-item2">Tbilisi</span>
      </div>
      <span class="venues-label-mob">Tbilisi</span>
      <div class="venues-text item2">
        <h3>Wedding Palace in the House of Justice</h3>
        <div class="venues-description">
          <p>
            — is a modern and convenient place for marriage registration, where
            traditions are combined with innovations. Situated in one of the
            most famous administrative buildings in Georgia.
          </p>
          <p>
            The palace offers a fast and comfortable marriage procedure, which
            is especially attractive to foreigners.
          </p>
        </div>
        <div class="cost">
          <p>Weekend from $90</p>
          <p>Weekday from $60</p>
        </div>
        <a href="#contacts-en"
          ><button class="consultation-button">Order a consultation</button></a
        >
      </div>
    </div>

    <hr class="line" />

    <div class="venues-content">
      <h3 class="venues-header-mob">
        Common room in the House <br />
        of Justice
      </h3>
      <div class="venues-images-item3">
        <img src="/assets/images/venues/Rectangle 16.png" alt="зал Юстиции" />
        <img src="/assets/images/venues/venues-image6.png" alt="зал Юстиции" />
        <img src="/assets/images/venues/venues-image7.png" alt="зал Юстиции" />
        <span class="venues-label-item3">Tbilisi</span>
      </div>
      <span class="venues-label-mob">Tbilisi</span>
      <div class="venues-text item3">
        <h3>Common hall in the House of Justice</h3>
        <div class="venues-description">
          <p>
            The House of Justice is renowned for its innovative approach
            to public services, and the Common Room is the place to formalise
            your relationship with the utmost ease and comfort.
          </p>
          <p>
            The building stands out for its modern architectural style and high
            level of service, making it one of the most convenient places for
            marriage registration in Georgia.
          </p>
          <p>Weekday only (included in price)</p>
        </div>
        <a href="#contacts-en"
          ><button class="consultation-button">Order a consultation</button></a
        >
      </div>
    </div>

    <hr class="line" />

    <div class="venues-content">
      <h3 class="venues-header-mob">
        Wedding Palace <br />
        "Dolphin"
      </h3>
      <div class="venues-text item4">
        <h3>Wedding Palace "Dolphin"</h3>
        <div class="venues-description">
          <p>
            — this is one of the most romantic places to register a marriage
            on the Black Sea coast. Situated next to the sea, this palace offers
            a unique atmosphere for a wedding ceremony. Its modern building fits
            harmoniously into the charming landscape of Batumi, combining
            the aesthetics of the city and natural beauty.
          </p>
        </div>
        <div class="cost">
          <p>Day off from $100</p>
          <p>Weekday from $70</p>
        </div>
        <a href="#contacts-en"
          ><button class="consultation-button">Order a consultation</button></a
        >
      </div>
      <div class="venues-images-item4">
        <img src="/assets/images/venues/venues-image9.png" alt="Дельфин" />
        <img src="/assets/images/venues/venues-image10.png" alt="Дельфин" />
        <span class="venues-label-item4">Batumi</span>
      </div>
      <span class="venues-label-mob">Batumi</span>
    </div>

    <hr class="line" />

    <div class="venues-content">
      <h3 class="venues-header-mob">Common hall in the House of Justice</h3>
      <div class="venues-text item5">
        <h3>Common hall in the House of Justice</h3>
        <div class="venues-description">
          <p>
            — this is a convenient place for quick and easy marriage
            registration. Here, the registration takes place in minimal time
            and with minimal formalities, which makes it ideal for couples who
            value speed and comfort.
          </p>
          <p>
            Modern building and professional service ensure a pleasant and
            efficient marriage procedure.
          </p>
          <p>Weekday only (included in price)</p>
        </div>
        <a href="#contacts-en"
          ><button class="consultation-button">Order a consultation</button></a
        >
      </div>
      <div class="venues-images-item5">
        <img
          src="/assets/images/venues/venues-image11.png"
          alt="зал Юстиции Батуми"
        />
        <img
          src="/assets/images/venues/venues-image12.png"
          alt="зал Юстиции Батуми"
        />
        <span class="venues-label-item5">Batumi</span>
      </div>
      <span class="venues-label-mob">Batumi</span>
    </div>
  </div>
</div>
