<link rel="stylesheet" href="../../css/about.css">

<div id="about-en" class="_container">
  <div class="about-container">
    <h2>About us</h2>
    <div class="about-content">
      <div class="about-text">
        <p>
          ALPHA Wedding — is a team of professionals with many years
          of experience in organizing wedding events, ready to make your dream
          come true. We specialize in creating unforgettable moments
          and guarantee a high level of service at every stage of preparation.
        </p>
        <p>
          Our approach is individual, and we strive to take into account all
          your wishes, whether it be paperwork or organizing an off-site
          ceremony in the picturesque corners of Georgia.
        </p>
        <p>
          Your happiness and peace of mind are our top priority and we
          are confident that every moment of your wedding day will be special.
        </p>
      </div>
      <div class="about-image">
        <img src="/assets/images/about/about-image1.jpg" alt="lady" />
        <img src="/assets/images/about/about-image2.jpg" alt="organizer" />
      </div>
    </div>
  </div>
</div>
