<link rel="stylesheet" href="../../css/reviews.css" />

<div id="reviews-en" class="_container">
  <div class="scrollable-reviews"></div>
  <div class="reviews-container">
    <h2>Reviews</h2>

    <div class="reviews-slider">
      <div class="review-slide active">
        <picture class="review-img">
          <source
            srcset="/assets/images/reviews/reviews-image1.png"
            media="(min-width: 1440px)"
          />
          <img
            src="/assets/images/reviews/mob1.png"
            alt="Описание изображения"
          />
        </picture>
        <div class="review-content">
          <p class="review-subtitle">Pamela and Mateusz</p>
          <p class="review-text">
            Thanks for the great job! The wedding was wonderful, and all
            the guests We were satisfied.
          </p>
          <p class="review-text">
            There were moments of stress, but in the end we are very happy
            with the result and your professionalism. Despite the language
            barrier, you reacted promptly and took into account all our wishes.
          </p>
          <p class="review-text3">Thanks again very much!</p>
        </div>
      </div>

      <div class="review-slide">
        <picture class="review-img">
          <source
            srcset="/assets/images/reviews/reviews-image3.png"
            media="(min-width: 1440px)"
          />
          <img
            src="/assets/images/reviews/mob2.png"
            alt="Описание изображения"
          />
        </picture>
        <div class="review-content">
          <p class="review-subtitle">Denis and Nadezhda</p>
          <p class="review-text">
            We will remember our wedding forever! We will recommend you to all
            our friends and acquaintances. We will definitely leave feedback
            in all groups in Israel, where many are planning weddings
            in Georgia. Your help did This day is special — everything was
            organized perfectly, and everyone the moment was truly magical.
          </p>
          <p class="review-text3">
            Thank you for your attention to detail, professionalism and care for
            our wishes.
          </p>
        </div>
      </div>

      <div class="review-slide">
        <picture class="review-img">
          <source
            srcset="/assets/images/reviews/wedding-photo.png"
            media="(min-width: 1440px)"
          />
          <img
            src="/assets/images/reviews/mob3.png"
            alt="Описание изображения"
          />
        </picture>
        <div class="review-content">
          <p class="review-subtitle">Natalia and Pavel</p>
          <p class="review-text">
            Hello! We would like to say a big thank you for your help. We have
            already they confirmed all the documents, and accepted everything
            without question.
          </p>
          <p class="review-text3">
            Honestly, we were worried that there would be some problems, since
            we have here they always find something to complain about. But,
            thanks to you, everything has passed smooth. Thanks again for
            the support!
          </p>
        </div>
      </div>
    </div>

    <!-- Навигация для слайдера -->
    <div class="slider-navigation">
      <div class="slider-navigation">
        <span class="nav-prev" onclick="moveSlide(-1)"
          ><img
            class="left-arrow"
            src="/assets/icons/reviews/left-arrow.png"
            alt=""
        /></span>
        <span class="nav-dot active" onclick="currentSlide(1)"></span>
        <span class="nav-dot" onclick="currentSlide(2)"></span>
        <span class="nav-dot" onclick="currentSlide(3)"></span>
        <span class="nav-next" onclick="moveSlide(1)"
          ><img
            class="right-arrow"
            src="/assets/icons/reviews/right-arrow.png"
            alt=""
        /></span>
      </div>
    </div>
  </div>
</div>
