<link rel="stylesheet" href="../../css/services.css">

<div id="services" class="_container">
  <div class="services-container">
    <h2>Наши услуги</h2>

    <div class="services-content">
      <p class="services-subtitle">Оформление регистрации брака за 24 часа</p>
      <div class="services-section">
        <div class="services-images">
          <img
            src="/assets/images/services/services-image1.jpg"
            alt="Свадебная церемония"
          />
          <img
            src="/assets/images/services/services-image2.jpg"
            alt="Свадебное платье"
          />
          <img src="/assets/images/services/services-image3.jpg" alt="Кольца" />
          <span class="price-label">от 480$</span>
        </div>
        <span class="price-label-mob">от 480$</span>
        <div class="services-text">
          <p class="text-item1">
            Мы полностью подготовим все необходимые документы с учетом вашей
            ситуации, включая переводы, подачу заявлений и предоставление
            свидетельств. Вам нужно лишь прийти на роспись в назначенный день.
          </p>
          <p class="text-item2">
            Готовое свидетельство о браке с апостилем или легализацией мы
            передадим вам лично или отправим по экспресс-почте в удобное для вас
            время.
          </p>
          <a href="#contacts"><button class="consultation-button">Заказать консультацию</button></a>
        </div>
      </div>
    </div>

    <hr />

    <div class="services-content">
      <p class="services-subtitle">Торжественная<br/>
      или выездная роспись</p>
      <div class="services-section">
        <div class="services-two-images">
          <img src="/assets/images/services/services-image4.jpg" alt="Шампанское" />
          <img src="/assets/images/services/services-image6.jpg" alt="Фото-зона" />
          <img src="/assets/images/services/services-image5.jpg" alt="Свадебное фото" />
          <span class="price-two-label">от 3000$</span>
        </div>
        <span class="price-label-mob">от 3000$</span>
        <div class="services-text">
          <p class="text-item1">
            Создадим для вас уникальную церемонию в любом месте по вашему
            выбору. Будь то элегантный официальный зал или живописная локация
            на природе — будут учтены все пожелания и проработана каждая деталь,
            чтобы этот день стал по-настоящему особенным и прошел идеально.
          </p>
          <p class="text-item2">
            Мы учтем каждую деталь: декор, музыка, координация и участие лучших
            специалистов. Ваша церемония будет безупречной и оставит только
            самые теплые воспоминания.
          </p>
          <a href="#contacts"><button class="consultation-button">Заказать консультацию</button></a>
        </div>
      </div>
    </div>

    <hr />

    <div class="services-content">
      <p class="services-subtitle">Комплексная организация свадьбы</p>
      <div class="services-section">
        <span class="price-label-mob">от 10000$</span>
        <div class="services-text services-text-pl0">
          <p class="text-item1">
            Мы позаботимся обо всех деталях вашего свадебного дня — от создания концепции и выбора места до координации в день свадьбы.
          </p>
          <p class="text-item2">
            Наша команда найдет лучших подрядчиков, организует декор, развлекательную программу и решит вопросы с логистикой.
            Мы учтем все ваши пожелания, чтобы ваше торжество было особенным, а вы могли наслаждаться каждым мгновением.
          </p>
          <a href="#contacts"><button class="consultation-button">Заказать консультацию</button></a>
        </div>
        <div class="services-three-images">
          <img
            src="/assets/images/services/services-image8.jpg"
            alt="Влюбленные"
          />
          <img
            src="/assets/images/services/services-image7.jpg"
            alt="Свадебная фата"
          />
          <img src="/assets/images/services/services-image9.jpg" alt="Сервис" />
          <span class="price-three-label">от 10000$</span>
        </div>
      </div>
    </div>
  </div>
</div>
