а<link rel="stylesheet" href="../../css/venues.css">

<div id="venues" class="_container">
  <div class="venues-container">
    <div class="header-desktop">
      <h2>
        Места проведения церемоний
      </h2>
    </div>

    <div class="header-mob">
      <h2>Места проведения церемоний</h2>
    </div>

    <div class="venues-content">
      <h3 class="venues-header-mob">
        Дворец бракосочетания <br />
        "Конка"
      </h3>
      <div class="venues-images">
        <img src="/assets/images/venues/venues-image2.JPG" alt="Конка" />
        <img src="/assets/images/venues/venues-image1.JPG" alt="Конка" />
        <img src="/assets/images/venues/venues-image3.JPG" alt="Конка" />
        <span class="venues-label">Тбилиси</span>
      </div>
      <span class="venues-label-mob">Тбилиси</span>
      <div class="venues-text item1">
        <h3>Дворец бракосочетания "Конка"</h3>
        <div class="venues-description">
          <p>
            — это живописное место, расположенное в сердце Тбилиси, где
            современные свадебные традиции встречаются с очарованием старинной
            грузинской архитектуры. Само здание, выполненное в стиле
            классической грузинской постройки, создает идеальную атмосферу для
            торжественного дня.
          </p>
        </div>
        <div class="cost">
          <p>Выходной день от 90$</p>
          <p>Будний день от 60$</p>
        </div>
        <a href="#contacts"
          ><button class="consultation-button">Заказать консультацию</button></a
        >
      </div>
    </div>

    <hr class="line" />

    <div class="venues-content">
      <h3 class="venues-header-mob">
        Дворец бракосочетания <br />
        в Доме Юстиции
      </h3>
      <div class="venues-images-item2">
        <img src="/assets/images/venues/venues-image5.JPG" alt="Дом Юстиции" />
        <img src="/assets/images/venues/venues-image4.JPG" alt="Дом Юстиции" />
        <span class="venues-label-item2">Тбилиси</span>
      </div>
      <span class="venues-label-mob">Тбилиси</span>
      <div class="venues-text item2">
        <h3>Дворец бракосочетания в Доме Юстиции</h3>
        <div class="venues-description">
          <p>
            — это современное и удобное место для регистрации брака, где
            традиции сочетаются с инновациями. Расположенный в одном из самых
            известных административных зданий Грузии.
          </p>
          <p>
            Дворец предлагает быструю и комфортную процедуру заключения брака,
            что особенно привлекательно для иностранцев.
          </p>
        </div>
        <div class="cost">
          <p>Выходной день от 90$</p>
          <p>Будний день от 60$</p>
        </div>
        <a href="#contacts"
          ><button class="consultation-button">Заказать консультацию</button></a
        >
      </div>
    </div>

    <hr class="line" />

    <div class="venues-content">
      <h3 class="venues-header-mob">
        Общий зал в Доме <br />
        Юстиции
      </h3>
      <div class="venues-images-item3">
        <img src="/assets/images/venues/venues-image8.JPG" alt="зал Юстиции" />
        <img src="/assets/images/venues/venues-image6.jpg" alt="зал Юстиции" />
        <img src="/assets/images/venues/venues-image7.jpg" alt="зал Юстиции" />
        <span class="venues-label-item3">Тбилиси</span>
      </div>
      <span class="venues-label-mob">Тбилиси</span>
      <div class="venues-text item3">
        <h3>Общий зал в Доме Юстиции</h3>
        <div class="venues-description">
          <p>
            Дом Юстиции славится своим инновационным подходом к государственным
            услугам, а Общий зал — это место, где можно официально оформить
            отношения с максимальной легкостью и комфортом.
          </p>
          <p>
            Здание выделяется своим современным архитектурным стилем и высоким
            уровнем сервиса, что делает его одним из самых удобных мест для
            регистрации брака в Грузии.
          </p>
          <p>Только будний день (включено в стоимость)</p>
        </div>
        <a href="#contacts"
          ><button class="consultation-button">Заказать консультацию</button></a
        >
      </div>
    </div>

    <hr class="line" />

    <div class="venues-content">
      <h3 class="venues-header-mob">
        Дворец бракосочетания <br />
        "Дельфин"
      </h3>
      <div class="venues-text item4">
        <h3>Дворец бракосочетания "Дельфин"</h3>
        <div class="venues-description">
          <p>
            — это одно из самых романтичных мест для регистрации брака
            на побережье Черного моря. Расположенный рядом с морем, этот дворец
            предлагает уникальную атмосферу для свадебной церемонии. Его
            современное здание гармонично вписывается в очаровательный пейзаж
            Батуми, сочетая в себе эстетику города и природные красоты.
          </p>
        </div>
        <div class="cost">
          <p>Выходной день от 100$</p>
          <p>Будний день от 70$</p>
        </div>
        <a href="#contacts"
          ><button class="consultation-button">Заказать консультацию</button></a
        >
      </div>
      <div class="venues-images-item4">
        <img src="/assets/images/venues/venues-image9.jpg" alt="Дельфин" />
        <img src="/assets/images/venues/venues-image10.jpg" alt="Дельфин" />
        <span class="venues-label-item4">Батуми</span>
      </div>
      <span class="venues-label-mob">Батуми</span>
    </div>

    <hr class="line" />

    <div class="venues-content">
      <h3 class="venues-header-mob">Общий зал в Доме Юстиции</h3>
      <div class="venues-text item5">
        <h3>Общий зал в Доме Юстиции</h3>
        <div class="venues-description">
          <p>
            — это удобное место для быстрой и простой регистрации брака. Здесь
            оформление проходит в минимальные сроки и с минимальными
            формальностями, что делает его идеальным для пар, ценящих скорость
            и комфорт.
          </p>
          <p>
            Современное здание и профессиональный сервис обеспечивают приятную
            и эффективную процедуру заключения брака.
          </p>
          <p>Только будний день (включено в стоимость)</p>
        </div>
        <a href="#contacts"
          ><button class="consultation-button">Заказать консультацию</button></a
        >
      </div>
      <div class="venues-images-item5">
        <img
          src="/assets/images/venues/venues-image11.jpg"
          alt="зал Юстиции Батуми"
        />
        <img
          src="/assets/images/venues/venues-image12.jpg"
          alt="зал Юстиции Батуми"
        />
        <span class="venues-label-item5">Батуми</span>
      </div>
      <span class="venues-label-mob">Батуми</span>
    </div>
  </div>
</div>
