<link rel="stylesheet" href="../../css/about.css">

<div id="about" class="_container">
  <div class="about-container">
    <h2>О нас</h2>
    <div class="about-content">
      <div class="about-text">
        <p>
          ALPHA Wedding — это команда профессионалов с многолетним опытом
          в организации свадебных мероприятий, готовая воплотить вашу мечту
          в реальность. Мы специализируемся на создании незабываемых моментов
          и гарантируем высокий уровень сервиса на каждом этапе подготовки.
        </p>
        <p>
          Наш подход индивидуален, и мы стремимся учесть все ваши пожелания,
          будь то оформление документов или организация выездной церемонии
          в живописных уголках Грузии.
        </p>
        <p>
          Ваше счастье и спокойствие — наш главный приоритет, и мы уверены, что
          каждый момент вашего свадебного дня станет особенным.
        </p>
      </div>
      <div class="about-image">
        <img src="/assets/images/about/about-image1.jpg" alt="lady" />
        <img src="/assets/images/about/about-image2.jpg" alt="organizer" />
      </div>
    </div>
  </div>
</div>
