<link rel="stylesheet" href="../../css/questions.css">

<div class="_container">
  <div class="questions-container">
    <h2 class="questions-header">Why Georgia?</h2>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide-card">
            <div class="card-number-item1"></div>
            <h3>Minimum terms</h3>
            <p>
              A marriage can be concluded in just one day without a long wait.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-card">
            <div class="card-number-item2"></div>
            <h3>International recognition</h3>
            <p>
              The marriage certificate with an apostille is recognized in more
              than 100 countries.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-card">
            <div class="card-number-item3"></div>
            <h3>No visa restrictions</h3>
            <p>
              Citizens of many countries do not need a visa to visit Georgia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
