<link rel="stylesheet" href="../../css/questions.css">

<div class="_container">
  <div class="questions-container">
    <h2 class="questions-header">Почему Грузия?</h2>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide-card">
            <div class="card-number-item1"></div>
            <h3><b>Минимальные сроки</b></h3>
            <p>
              Брак можно заключить всего за один день без длительного ожидания.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-card">
            <div class="card-number-item2"></div>
            <h3>Международное признание</h3>
            <p>
              Свидетельство о браке с апостилем, признано более чем в 100
              странах.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-card">
            <div class="card-number-item3"></div>
            <h3>Без визовых ограничений</h3>
            <p>
              Для граждан многих стран не требуется виза для посещения Грузии.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
