<link rel="stylesheet" href="../../css/services.css" />

<div id="services-us" class="_container">
  <div class="services-container">
    <h2>Our services</h2>

    <div class="services-content">
      <p class="services-subtitle">Registration of marriage in 24 hours</p>
      <div class="services-section">
        <div class="services-images">
          <img
            src="/assets/images/services/services-image1.png"
            alt="Свадебная церемония"
          />
          <img
            src="/assets/images/services/services-image2.png"
            alt="Свадебное платье"
          />
          <img src="/assets/images/services/services-image3.png" alt="Кольца" />
          <span class="price-label-en">from $480</span>
        </div>
        <span class="price-label-mob">from $480</span>
        <div class="services-text">
          <p class="text-item1">
            We will fully prepare all the necessary documents taking into
            account your situations, including transfers, applications
            and provision of evidence. You only need to come to the painting on
            the appointed day.
          </p>
          <p class="text-item2">
            Ready-made marriage certificate with apostille or legalization we we
            will give it to you personally or send it by express mail
            at a convenient time for you time.
          </p>
          <a href="#contacts-en"
            ><button class="consultation-button">
              Order a consultation
            </button></a
          >
        </div>
      </div>
    </div>

    <hr />

    <div class="services-content">
      <p class="services-subtitle">Ceremonial or exit painting</p>
      <div class="services-section">
        <div class="services-two-images">
          <img
            src="/assets/images/services/services-image4.png"
            alt="Шампанское"
          />
          <img
            src="/assets/images/services/services-image6.png"
            alt="Фото-зона"
          />
          <img
            src="/assets/images/services/services-image5.png"
            alt="Свадебное фото"
          />
          <span class="price-two-label-en">from $3000</span>
        </div>
        <span class="price-label-mob">from $3000</span>
        <div class="services-text">
          <p class="text-item1">
            We will create a unique ceremony for you in any place of your choice
            the choice. Whether it's an elegant formal hall or a picturesque
            location in nature, all wishes will be taken into account and every
            detail will be worked out, to make this day truly special and
            perfect.
          </p>
          <p class="text-item2">
            We will take into account every detail: decor, music, coordination
            and participation of the best specialists. Your ceremony will be
            flawless and will leave only the warmest memories.
          </p>
          <a href="#contacts-en"
            ><button class="consultation-button">
              Order a consultation
            </button></a
          >
        </div>
      </div>
    </div>

    <hr />

    <div class="services-content">
      <p class="services-subtitle">Comprehensive wedding organization</p>
      <div class="services-section">
        <span class="price-label-mob">from 10000$</span>
        <div class="services-text services-text-pl0">
          <p class="text-item1">
            We will take care of all the details of your wedding day — from
            creating the concept and choosing the location to coordinating
            the wedding day.
          </p>
          <p class="text-item2">
            Our team will find the best contractors, organize the decor,
            entertainment program and solve logistics issues. We will take into
            account all your wishes so that your celebration is special and you
            can enjoy every moment.
          </p>
          <a href="#contacts-en"
            ><button class="consultation-button">
              Order a consultation
            </button></a
          >
        </div>
        <div class="services-three-images">
          <img
            src="/assets/images/services/services-image8.png"
            alt="Влюбленные"
          />
          <img
            src="/assets/images/services/Rectangle 55.png"
            alt="Свадебная фата"
          />
          <img src="/assets/images/services/services-image9.png" alt="Сервис" />
          <span class="price-three-label-en">from 10000$</span>
        </div>
      </div>
    </div>
  </div>
</div>
