<link rel="stylesheet" href="../../css/recommendation.css">

<div class="_container">
  <div class="recommendation-container">
    <div class="recommendation-content">
      <div class="content-text-block">
        <h2>If you dream of an off-site ceremony with a festive atmosphere</h2>
        <p>
          or you are planning a wedding celebration, leave a request, and we
          will select the perfect place that meets your wishes.
        </p>
        <a href="#contacts-en"
          ><button class="consultation-button">Order a consultation</button></a
        >
      </div>

      <div class="content-image-block">
        <img
          src="/assets/images/reviews/reviews-mob-image3.png"
          alt="Свадебное фото"
        />
      </div>
    </div>
  </div>
</div>
