<link rel="stylesheet" href="../../css/recommendation.css">

<div class="_container">
  <div class="recommendation-container">
    <div class="recommendation-content">
      <div class="content-text-block">
        <h2>
          Если вы мечтаете о выездной церемонии с торжественной обстановкой
        </h2>
        <p>
          или планируете свадебное празднование, оставьте заявку, и мы подберем
          идеальное место, соответствующее вашим пожеланиям.
        </p>
        <a href="#contacts"
          ><button class="consultation-button">Заказать консультацию</button></a
        >
      </div>

      <div class="content-image-block">
        <img
          src="/assets/images/reviews/reviews-mob-image3.png"
          alt="Свадебное фото"
        />
      </div>
    </div>
  </div>
</div>
